/* external style */
h2{
        color: brown;
    }
    /* p{
        color: yellow;
    } */
    #head-3{
        color: chartreuse;
        font-size: 50px;

    }
    .font-theme{
        color: darkmagenta;
        text-align: center;

    }
    .card{
        border:2px solid brown;
        padding: 10px 15px 25px 10px;
        padding-left: 25px;
        /* padding-bottom: 10px;
        padding-right:0 ;
        padding-top: 0; */
        margin: 20px;
        /* margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0; */
        width: 250px;
        border-radius: 20px;
        /* background-color:  rgb(255, 0, 0);
        background-color: rgb(61, 120, 134);
        background-color: darkslateblue; */
        background-color:  #ff6347;;
    }
    .img-one{
        /* width: 100%; */
        width: 250px;
        height: 250px;
        border-radius: 100%;
                border-radius: 2px;
                /* leaf shape */
                /* border-top-left-radius: 50%;
                border-bottom-right-radius: 50%; */
                border-top-left-radius: 50%;

    }
        .img-two{
        /* width: 100%; */
        width: 250px;
        height: 250px;
        border-radius: 100%;
                border-radius: 2px;
                /* leaf shape */
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                /* border-top-left-radius: 50%; */

    }
h3{
      font-family: "Montenegrin Gothic One", serif;
      font-weight: 900;
}
p{
      font-family: "Montenegrin Gothic One", serif;
      /* line-height: 240x; */
      /* font-weight: 500; */

}
.parent{
width:500px;
height: 500px;
background-color: rgb(173, 141, 141);
position: relative;
}
.child-1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* margin-left: 400px; */
    position: absolute;
    /* default position left */
    /* right: 0; */
     /* right: 10px; */
     /* bottom: 0;
     top: 40px;
     left: 40px; */
    z-index: 2;
    right: 0;
}
.child-2{
    width: 100px;
    height: 100px;
    background-color: rgb(35, 32, 94);
    /* margin-left: 400px; */
    position: absolute;
    /* default position left */
    /* right: 0; */
     /* right: 10px; */
     /* bottom: 0;
     top: 40px;
     left: 40px; */
    /* top: 40px; */
    z-index: 1;
    bottom: 0;
}
/* flexbox concept */

.card-1{
    width: 200px;
    height: 100px;
    background-color: #ff6347;

}
.card-2{
    width: 200px;
    height: 100px;
    background-color: aqua;
}.card-3{
    width: 200px;
    height: 100px;
    background-color: #4756ff;
}
.home{
    display: flex;
    /* horizondal vertical-column */
    /* flex-direction: row; */
    background-color: rgb(195, 205, 214);
    /* horizondal item center  contant space*/
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: end; */
    /* gap: 50px; */
    height: 200px;
    /* verticaliy align item center */
    align-items: center;
    

}
header{
    display: flex;
    justify-content: center;
    background-color: black;

  nav{
    display: flex;
      a{
        text-decoration: none;
        color: beige;
        padding: 10px 20px;
        display: block;
        transition: 0.5s ease-in-out;
        &:hover{
            background-color: chartreuse;
            /* color: chartreuse; */
            border-radius: 15px;
        }

      }
     }
}
/* grid-css system */
.container{
    display: grid;
        /* grid-template-columns: 200px 200px 200px; */
        /* grid-template-columns: 1fr 1fr 1fr;         */
        /* grid-template-columns: repeat(3,1fr); */
        /* grid-template-rows: repeat(3,1fr); */
        grid-template-rows: repeat(3,200px);

        gap: 10px; 
        .card-item{
            border: 1px solid black;
         }
}
/* media query */
.css-media-query{
    background-color: rgb(117, 99, 133);
    width:100%;
    height:200px ;

}
.bg-orange{
    background-color: #ff6347;

}
/* @media (max-width: 768px) {
    .css-media-query {
        background-color: red;
    }
}
@media (max-width: 480px) {
    .css-media-query {
        background-color: rgb(255, 208, 0);
    }
}
/* upto 480 */
/* @media (min-width: 48px) {
    .css-media-query {
        background-color: red;
    }
} */ 