/* external style */
h2{
        color: brown;
    }
    /* p{
        color: yellow;
    } */
    #head-3{
        color: chartreuse;
        font-size: 50px;

    }
    .font-theme{
        color: darkmagenta;
        text-align: center;

    }
    .card{
        border:2px solid brown;
        padding: 10px 15px 25px 10px;
        padding-left: 25px;
        /* padding-bottom: 10px;
        padding-right:0 ;
        padding-top: 0; */
        margin: 20px;
        /* margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0; */
        width: 250px;
        border-radius: 20px;
        /* background-color:  rgb(255, 0, 0);
        background-color: rgb(61, 120, 134);
        background-color: darkslateblue; */
        background-color:  #ff6347;;
    }
    .img-one{
        /* width: 100%; */
        width: 250px;
        height: 250px;
        border-radius: 100%;
                border-radius: 2px;
                /* leaf shape */
                /* border-top-left-radius: 50%;
                border-bottom-right-radius: 50%; */
                border-top-left-radius: 50%;

    }
        .img-two{
        /* width: 100%; */
        width: 250px;
        height: 250px;
        border-radius: 100%;
                border-radius: 2px;
                /* leaf shape */
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                /* border-top-left-radius: 50%; */

    }
h3{
      font-family: "Montenegrin Gothic One", serif;
      font-weight: 900;
}
p{
      font-family: "Montenegrin Gothic One", serif;
      /* line-height: 240x; */
      /* font-weight: 500; */

}