.tags-css{
margin:50px;
width: 800px ;
    border: 4px solid green;
    padding: 10px;
   margin-left: 350px;
   border-radius: 20px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
     font-family: "Montenegrin Gothic One", serif;
     padding-left: 350px;
      /* font-family: "Playpen Sans Hebrew", cursive; */
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
table{

    border-collapse: collapse;
       margin-left: 98px;
           height: 400PX;
    width: 600PX;
    border: 1px solid green;
    margin-top: 30px;
      margin-bottom: 30px;
          text-align: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
}

thead{
    text-align: center;

}
th{
     background:#27ae60;
    color:white;
    font-size:24px;
    padding:15px;

}

td{
    padding:18px;
    border:1px solid #ddd;
    font-size:18px;
}

.first-rows{


}
